.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

.jfx-list-cell:selected{
    -fx-background-color: #3d8c91;
}

.jfx-list-cell{
    -fx-background-insets: 0.0;
}

.jfx-list-cell .jfx-rippler{
    -fx-rippler-fill: BLUE;
}

.jfx-list-cell:hover{
    -fx-background-color: #1bd79c;
}

.jfx-list-view{
    -fx-background-insets: 0;
    -fx-cell-vertical-margin:50px;
    -fx-vertical-gap:50px;
    -fx-pref-width:600;
}


/*TablPane styling*/
.tab{
    -fx-background-color: orange;
}

.tab-header-background{
    -fx-background-color: orange;
}

.tab-label{
    -fx-text-fill: white;
    -fx-font-size: 16pt;
}


.tab-main{
    -fx-pref-height : 80;
    -fx-max-height : 80;
}